@layer layout {
  .page {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: var(--space4XL) var(--spaceOuter);
  }

  .details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .text {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    width: 100%;
  }

  .title {
    margin-bottom: var(--spaceM);
    color: var(--accent);
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: 0.1s;
    opacity: 0;

    @media (--mediaUseMotion) {
      transition-property: transform, opacity;
      transform: translate3d(0, var(--spaceL), 0);
    }

    &[data-visible='true'] {
      transform: none;
      opacity: 1;
    }
  }

  .subheading {
    padding-bottom: var(--spaceL);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: color-mix(in lab, var(--text) 40%, transparent);
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: 0.2s;
    opacity: 0;
    max-width: 100%;
    flex: 0 0 auto;

    @media (--mediaMobile) {
      font-size: calc((18 / 16) * 1rem);
    }

    @media (--mediaUseMotion) {
      transition-property: transform, opacity;
      transform: translate3d(0, var(--spaceL), 0);
    }

    &[data-visible='true'] {
      transform: none;
      opacity: 1;
    }
  }

  .description {
    padding-bottom: var(--spaceL);
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: 0.3s;
    opacity: 0;

    @media (--mediaUseMotion) {
      transition-property: transform, opacity;
      transform: translate3d(0, var(--spaceL), 0);
    }

    &[data-visible='true'] {
      transform: none;
      opacity: 1;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spaceL);
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: var(--durationM);
    opacity: 0;

    @media (--mediaUseMotion) {
      transition-property: transform, opacity;
      transform: translate3d(0, var(--spaceL), 0);
    }

    &[data-visible='true'] {
      transform: none;
      opacity: 1;
    }
  }

  .button {
    align-self: flex-start;
    padding-left: var(--spaceXXS);
  }
}
